name: GitHub-StarBucks-Frontend

trigger:
 branches:
   include:
     - none

pool: Agent


# variables:
#   - group: New

stages:
  - stage: Build
    displayName: Build Stage
    jobs:
      - job: Build
        displayName: Build Job
        steps:
          - checkout: self
          
          - task: NodeTool@0
            displayName: Node.Js Tool Installer
            inputs:
              versionSource: 'spec'
              versionSpec: '20.x'


          - task: Npm@1
            displayName: NPM Install/Package
            inputs:
              command: 'install'
              # command: ci    


          - task: Npm@1
            displayName: NPM Build
            inputs:
              command: 'custom'
              customCommand: 'run build'
          - task: Npm@1
            displayName: Publish to Azure Artifacts
            inputs:
              command: 'publish'
              workingDir: '$(Build.SourcesDirectory)'
              publishRegistry: 'useFeed'
              publishFeed: '9dbd2c90-9a36-4700-81ab-a94787a487e0/cd397add-652e-4a5d-b0bc-c297c2731b23'




  - stage: Deploy
    jobs:
      - job: Deploy
        steps:
        - task: DownloadBuildArtifacts@1
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'starbucks-redesign 0.0.0'
            downloadPath: '$(System.ArtifactsDirectory)'

        