name: GitHub-StarBucks-Frontend

trigger:
 branches:
   include:
     - none

pool: Agent


# variables:
#   - group: New

stages:
  # - stage: Build
  #   displayName: Build Stage
  #   jobs:
  #     - job: Build
  #       displayName: Build Job
  #       steps:
  #         - checkout: self
          
  #         - task: NodeTool@0
  #           displayName: Node.Js Tool Installer
  #           inputs:
  #             versionSource: 'spec'
  #             versionSpec: '20.x'


  #         - task: Npm@1
  #           displayName: NPM Install/Package
  #           inputs:
  #             command: 'install'
  #             # command: ci    


  #         - task: Npm@1
  #           displayName: NPM Build
  #           inputs:
  #             command: 'custom'
  #             customCommand: 'run build'
  #         - task: Npm@1
  #           displayName: Publish to Azure Artifacts
  #           inputs:
  #             command: 'publish'
  #             workingDir: '$(Build.SourcesDirectory)'
  #             publishRegistry: 'useFeed'
  #             publishFeed: '9dbd2c90-9a36-4700-81ab-a94787a487e0/cd397add-652e-4a5d-b0bc-c297c2731b23'

  - stage: Deploy
    jobs:
      - job: Deploy
        steps:
        - task: UniversalPackages@0
          inputs:
            command: 'download'
            downloadDirectory: '$(Pipeline.Workspace)/artifact'
            feedsToUse: 'internal'
            vstsFeed: 'StarBucks-Deployment/StarBucks-Deployment'
            vstsFeedPackage: 'starbucks-sanjay-app2'
            vstsPackageVersion: '0.0.5'


        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'starbucks'
            sourceFolder: '$(Pipeline.Workspace)/artifact'
            contents: '**'
            targetFolder: '/home/sanjay/MySite'
            cleanTargetFolder: true
            overwrite: true

        - task: SSH@0
          inputs:
            runOptions: 'commands'
            commands: |
              export DEBIAN_FRONTEND=noninteractive
              sudo apt-get update
               sudo apt-get install nginx -y
               sudo cp -r /home/sanjay/MySite/starbucks-sanjay/* /var/www/html/
            readyTimeout: '20000'